@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --bg-one: #0f183e;
  --bg-two: #002d3e;
  --bg-three: #0f1d22;
  --bg-four: #0c252b;
  --bg-five: #182146;
  --white: #ffffff;
  --black: #070707;
  --black-2: #252629;
  --black-3: #222326;
  --black-4: #1c1d20;
  --white: #fff;
  --white-2: #f6f6f6;
  --gray: #999;
  --blue: #0788ff;
  --orange: #ff5746;
  --orange-two: #ff3d4f;
  --font-inter: "Inter", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #7b8491;
  font-family: "Open Sans", sans-serif;
  background-color: var(--black-2);
  color: var(--black);
  font-family: var(--font-inter);
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-family: var(--font-roboto);
  font-weight: 600;
}
h1 {
  font-size: 86px;
  line-height: 1.2333333333;
}

h2 {
  font-size: 42px;
  line-height: 1.3380952381;
}

h3 {
  font-size: 32px;
  line-height: 1.3833333333;
}

h4 {
  font-size: 28px;
  line-height: 1.3380952381;
}

h5 {
  font-size: 24px;
  line-height: 1.3380952381;
}

h6 {
  font-size: 18px;
  line-height: 1.2380952381;
}
p {
  font-family: var(--font-inter);
  color: #999;
  line-height: 1.8;
  margin-bottom: 5px;
  hyphens: auto;
  word-break: break-word;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
  color: inherit;
}
a:hover {
  color: #535bf2;
}
img {
  max-width: 100%;
  height: auto;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
}
ol {
  counter-reset: counter;
  padding-left: 0;
}

ol li {
  list-style: none;
  margin-bottom: 1rem;
}

button {
  background: #7da640;
  padding: 12px 70px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  transition: 0.3s;

  display: block;
  margin: auto;
}

button:hover,
button:active,
button:focus {
  outline: 0;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Image */
.myImage img {
  width: 400px;
  height: auto;
  border: 2px solid red;
  border-radius: 10px;
}

/* Text */
.myText p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
}
